<router-outlet> </router-outlet>

<div class="black">
      <h1> {{title}} </h1>
</div>

<div class="ash">
      <h2> {{name}} </h2>
      <h2> {{email}} </h2>

      <button (click)="toggleHobbies()" class="btn"> Mostrar Hobbies </button>
      <div class="component2" *ngIf="showHobbies">
            <h3>Hobbies: </h3>
            <ul>
                  <li *ngFor="let hobby of hobbies">
                        {{hobby}}
                  </li>
            </ul>
      </div>
      <a href="{{webpage}}" target="_blank">Visita mi sitio web</a>
</div>
<div class="container">
      <form (submit)="newHobby(hobby)">
            <input #hobby type="text" placeholder="hobby">  
      </form>
</div>
<div class="black">
      <h1> {{title}} </h1>
</div>

<ul>
      <li *ngFor="let user of users">
            <app-user [nameUser]="user">  </app-user>
      </li>
</ul>
<button (click)="sayHello()">Hazme click (desde app component)</button>
<app-hello-world>Aqui</app-hello-world>


<h2>Desde app.component</h2>

<ul>
      <li *ngFor="let user of users">
            {{user}} <button (click)="deleteUser(user)" >Borrar usuario</button>
      </li>
</ul>

<form (submit)="addUser(newUser)">
      <input type="text" #newUser>
      <button>Agregar Usuario</button>
</form>