
.black {
    background-color: black;
    color: white;
    text-align: center;
}

.ash {
    background-color: #eee;
    color: black;
}

.component2 {
    background-color: #eee;
    color: red;
    padding: 20px;
    border-radius: 10px;
}