
.black {
    background-color: black;
    color: white;
    text-align: center;
}

.ash {
    background-color: #eee;
    color: black;
    padding: 40px;
}

.component2 {
    background-color: #eee;
    color: red;
    padding: 20px;
    border-radius: 10px;
}

.btn {
    padding: 10px;
    color: white;
    background-color: brown;
    display: block;
    margin: 10px;
    border-radius: 15px;
}

.container {
    margin: 0 auto;
    background-color: rgb(185, 185, 185);
    width: 500px;
    height: 30px;
    display: flex;
    justify-content: center;
    padding: 10px;
}